@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;1,600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

div {
    text-align: center;
    border: 1px solid rgba(194, 190, 190, 0.572);
    width: 400px;
    /* display: inline; */
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
    height: 50%;
    padding: 10px;
    box-shadow: 15px 15px 50px rgba(112, 89, 89, 0.722);
   

}

#log {
    font-size: 18px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.input-s {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0px;
    /* display: inline-block; */
    border: 1px solid #cdcbcbfa;
    border-radius: 4px;
    box-sizing: border-box;

}

.logein {
    color: white;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0px;
    background-color: #1877F2;
    border: 1px solid #1d0aedfa;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

strong {
    color: #1877F2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;

}

.creat {
   
  background-color: #42B72A;
border: 1px solid white;
border-radius: 5px;
width: 230px;
}
