@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


h1{
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
div{
    text-align: center;
    border: 1px solid rgba(194, 190, 190, 0.572);
    width: 50%;
    /* display: inline; */
    position:  fixed;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 8px;
    height: 50%;
    padding: 10px;
    box-shadow: 15px 15px  50px rgba(112, 89, 89, 0.722);

    
  
}

#log{
font-size: 18px;
color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.input-s{
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0px;
    /* display: inline-block; */
    border: 1px solid #cdcbcbfa;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.logein{
    color: white;
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0px;
    background-color: blue;
    border: 1px solid #1d0aedfa;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
strong{
    color: rgb(47, 111, 185);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.creat{
    background-color: rgb(27, 153, 27);
    height: 30px;
    color: white;
    padding: 5px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    border-radius: 5px;
}
